<% provide(:title, "Home") %>

<div class = "main">
	<div class = "head">
		<div class = "intro">
			<h1 class = "welcome"> Welcome </h1>
		    <div class = "time"></div>
		    <div class = "weather"></div>
		</div>
	    <button type="button" id = "load-content" class="btn btn-primary btn-lg active">Get Location and Load Content
	    </button>
	    <div class = "select-favorite">
		    <button type="button" class="btn btn-primary btn-lg active" id="nearest-button">Nearby Location</button>
			<button type="button" class="btn btn-default btn-lg inactive" id="favorite-button">Favorite Location</button>
		</div>
		<div class = "remove-and-favorite">
			<button class='btn btn-warning remove-button' onclick = "resetRemoved()" id = "remove-reset" type='submit'>Reset Removed</button>
			<button class='btn btn-info remove-button' onclick = "saveFavorite()" id = "favorite-set" type='submit'>Save Location</button>
	</div>

	<div class = "sections">

			<div class = "col-md-6 metro-bus transit">

			</div>

			<div class = "col-md-6 metro-rail transit">


			</div>

			<div class = "col-md-6 bikeshare transit">

			</div>

			<div class = "col-md-6 uber transit">

			</div>

			<div class = "col-md-6 zipcar transit">

			</div>


	</div>

</div>