<% provide(:title, "Home") %>
<h1> HOME! </h1>

<div class = "main">
	<div class = "head">
		    <button type="button" id = "load-content" class="btn btn-primary btn-lg active">Get Location and Load Content
		    </button>
		<div class = "intro">
			<h1 class = "welcome"> Welcome </h1>
		    <div class = "time"></div>
		</div>
	</div>

	<div class = "sections">

			<div class = "col-md-6 metro-bus transit">
				<table class = "metro-bus-table hidden">
					<th>Metro Bus</th>
				</table>
			</div>

<!-- 			<form class = "add-rails-station" name = "add-rails">
				<input type = "text" class = "add-rails-input">
				</input>
			</form> -->
			<div class = "col-md-6 metro-rail transit">


			</div>

			<div class = "col-md-6 bikeshare transit">

			</div>

			<div class = "col-md-6 uber transit">

			</div>

			<div class = "col-md-6 zipcar transit">

			</div>


	</div>

</div>