<h1> HOME! </h1>

<div class = "main">
	<div class = "head">

	</div>

	<div class = "sections">

			<div class = "col-md-4 metro-bus">
				<table class = "table table-bordered metro-bus-table">

				</table>
			</div>

			<div class = "col-md-4 metro-rail">
				<table class = "table table-bordered metro-rail-table">

				</table>
			</div>

			<div class = "col-md-4 bikeshare">
				<table class = "table table-bordered bikeshare-table">

				</table>
			</div>

			<div class = "col-md-4 uber">
				<table class = "table table-bordered uber-table">

				</table>
			</div>

			<div class = "col-md-4 zipcar">
				<table class = "table table-bordered zipcar-table">

				</table>
			</div>


	</div>

</div>