<h1> HOME! </h1>


<div class = "main">
	<div class = "head">

	</div>

	<div class = "sections">

			<div class = "col-md-4">
				<h3>Buses transit</h3>
				<h3>Station</h3>
				<h3>Time to next bus</h3>
			</div>

			<div class = "col-md-4">
				<h3>Bikeshare</h3>
				<h3>Bikes available</h3>
			</div>

			<div class = "col-md-4">
				<h3>Metro</h3>
				<h3>Nearest stops</h3>
			</div>

	</div>

</div>