<% provide(:title, "Home") %>
<h1> HOME! </h1>

<div class = "main">
	<div class = "head">
	    <button type="button" id = "load-content" class="btn btn-primary btn-lg active">Get Location and Load Content
	    </button>
	    <div class = "select-favorite">
		    <button type="button" class="btn btn-primary btn-lg active" id="nearest-button">Nearby</button>
			<button type="button" class="btn btn-default btn-lg inactive" id="favorite-button">Favorites</button>
		</div>
		<div class = "intro">
			<h1 class = "welcome"> Welcome </h1>
		    <div class = "time"></div>
		    <div class = "weather"></div>
		    <button class='btn btn-default remove-button' onclick = "resetRemoved()" id = "any" type='submit'>Reset Removed</button>
		</div>
	</div>

	<div class = "sections">

			<div class = "col-md-6 metro-bus transit">

			</div>

			<div class = "col-md-6 metro-rail transit">


			</div>

			<div class = "col-md-6 bikeshare transit">

			</div>

			<div class = "col-md-6 uber transit">

			</div>

			<div class = "col-md-6 zipcar transit">

			</div>


	</div>

</div>