th{
	font-size: 18px;
	border-bottom: 4px solid black;
	padding: 5px;
}

td{
	min-width: 20px;
	padding-top: 5px;
}

table{
	font-size: 18px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.table{
	font-size: 18px;
	text-align: center;
}

.capital{
	font-size: 24px;
}

.hidden{
	display: none;
}

.time{
	float: right;
    font-size: 30px;
    border-bottom: 4px solid;
    display: inline-block;
}

.welcome{
	display: inline-block;
}

.logo{
	width: 8%;
	position: relative;
	top: 22px;
}

caption{
	font-size: 23px;
}

.transit{
  border: 2px solid black;
  border-radius: 20px;
}

.td-button{
	width: 10px;
}

